{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add supplies</title>
</head>
<body>
{% block content %}
     <div class="container">
     <h2>Add supply form</h2>
     <form  class="px-4 py-3" action="" method="post">
         {% csrf_token %}
         <div class="form-group">
             <label for="products">products</label>
             <input type="text" class="form-control" id="products"  placeholder="enter products" name="products">
         </div>
         <div class="form-group">
             <label for="quantity">quantity</label>
             <input type="number" class="form-control" id="quantity"  placeholder="enter quantity" name="quantity">
         </div>
         <div class="form-group">
             <label for="cost">cost</label>
             <input type="number" class="form-control" id="cost"  placeholder="enter cost" name="cost">
         </div>
         <div class="form-group">
             <label for="date">supply_date</label>
             <input type="date" class="form-control" id="date"  placeholder="choose date" name="date">
         </div>
         <button type="submit" class="btn btn-success">submit</button>

     </form>
    </div>
{% endblock %}
</body>
</html>